header{
    height: 70px;
    background-color: #f8f9fa;
}
.logo-small{
    width: 50px;
}
.row{
    align-items: center;
}
.d-flex{
    width: calc(100% - 75px);
}
.container-fluid{
    background-color: white;
}
.container-fluid :first-child i{
    font-size: 25x;
    color: #ff8f00;
}
.icon-header{
    display: none;
}
.logo-lg{
    display: none;
}
@media screen and (min-width:1200px){
    .logo-lg{
        display: block;
        height: 50px;
        width: 150px;
        padding-right: 10px;
    }
    .d-flex{
        width: calc(100% - 250px);
    }
    .logo-small{
        display: none;
    }
    .icon-header{
        display: block;
        font-size: 25px;
        color: black;
    }
}
