/* header */
header{
    padding-top: 10px;
    height: 70px;
    background-color: #f8f9fa;
}
.logo-small{
    width: 50px;
    height: auto;
}
.d-flex{
    width: auto;
}
.container-fluid{
    background-color: white;
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
}
.icon-special{
    font-size: 25x;
    color: #ff8f00;
    padding: 0 5px;
}
.icon-header{
    display: none;
    color: black;
}
.icon-header i{
    padding: 0 5px;
}
.logo-lg{
    display: none;
}
/* responsive header */
@media screen and (min-width:1200px){
    .logo-lg{
        display: block;
        height: 50px;
        width: 150px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .d-flex{
        width: auto;
    }
    .logo-small{
        display: none;
    }
    .icon-header{
        display: block;
        
    }
}
.container1{
    display: flex;
}
/* aside */
aside{
    background-color: #051e34;
    background: url(../img/sidebar-bg.png) #142b41;
    color: white;
    width: 70px;
    height: 100%;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu i{
    font-size: 20px;
    padding: 10px 0;
}
.text-visibility{
    display: none;
}
@media screen and (min-width:1200px){
    aside{
        width: 270px;
    }
    .text-visibility{
        display: inline-block;
    }
}




main{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}